<div>
    <form #usersRef="ngForm" (ngSubmit)="storeUser(usersRef)" class="form-group">
        <label>UId</label>
        <input type="number" name="uid" ngModel class="form-control"/><br/>
        <label>User Name</label>
        <input type="text" name="username" ngModel class="form-control"/><br/>
        <label>Password</label>
        <input type="password" name="password" ngModel class="form-control"/><br/>
        <input type="submit" value="store product" class="btn btn-success"/>
        <input type="reset" class="btn btn-info"/>
    </form>
    <!-- <input type="button" value="Display Product"
    (click)="loadProdcuts()"/> -->
    <br/>
    {{storeMsg}}
    <hr/>
    <div *ngIf="flag">
        <h2>Update User</h2>
        <form (ngSubmit)="updateUserName()" class="form-group">
            <label>UId</label>
            <input type="number" name="uid" [(ngModel)]="uid" readonly class="formcontrol"/><br/>
            <label>User Name</label>
            <input type="text" name="username" [(ngModel)]="username"/><br/>
            <input type="submit" value="update user"/>
            <input type="reset" value="reset"/>
        </form>
        <hr/>
    </div>
    <table class="table table-striped">
        <tr>
            <th>UId</th>
            <th>UserName</th>
            <th>Password</th>
            <th>Delete User</th>
            <th>Update User</th>
        </tr>
        <tr *ngFor="let users of users">
            <td>{{users.uid}}</td>
            <td>{{users.username}}</td>
            <td>{{users.password}}</td>
            <td><input type="button" value="delete" (click)="deleteUser(users.uid)" class="btn btn-primary"/></td> 
            <td><input type="button" value="update" (click)="updateUser(users)" class="btn btn-secondary"/></td>
            
        </tr>
    </table>
    <br/>
    {{deleteMsg}}
</div>



